body {
    background-image: url('https://cdn.mos.cms.futurecdn.net/VVxYMB4ju8evTtzf4aF9pP.jpg'); /* Windows XP background */
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.window {
    width: 400px;
    border: 2px solid #000080; /* Dark blue border */
    background-color: #C0C0C0; /* Light gray background */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.window-header {
    background-color: #000080; /* Dark blue header */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-title {
    font-weight: bold;
}

.exit-button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.window-content {
    padding: 20px;
}

#searchInput {
    width: calc(100% - 22px); /* Full width minus padding */
    padding: 10px;
    border: 1px solid #000080;
    border-radius: 5px;
}

#searchButton {
    padding: 10px;
    border: 1px solid #000080;
    background-color: #000080;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#searchButton:hover {
    background-color: #003366; /* Darker blue on hover */
}